<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--数据库URL -->
        <property name="connection.url">
            jdbc:mysql://114.212.99.210:3306/test
        </property>
        <!--数据库用户 -->
        <property name="connection.username">dbtest</property>
        <!--数据库用户密码 -->
        <property name="connection.password">njuacdbtest</property>
        <!--数据库JDBC驱动 -->
        <property name="connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <!--每个数据库都有其对应的Dialect以匹配其平台特性 -->
        <property name="dialect">
            org.hibernate.dialect.MySQL5Dialect
        </property>
        <!--是否将运行期生成的SQL输出到日志以供调试 -->
        <property name="show_sql">true</property>
        <!--是否格式化SQL -->
        <property name="format_sql">true</property>

        <property name="connection.useUnicode">true</property>
        <property name="connection.characterEncoding">UTF-8</property>
        <property name="hbm2ddl.auto">
            update
        </property>

        <property name="hibernate.current_session_context_class">thread</property>

        <mapping resource="mapping/PassRecord.hbm.xml"/>


    </session-factory>


</hibernate-configuration>